
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter Notebook
.ipynb_checkpoints/

# Environment files
.env
.venv/
*.egg-info/

# macOS
.DS_Store

# VSCode
.vscode/

# Data and Outputs folders
Data/*.csv
Outputs/*.png
Outputs/*.jpg
Outputs/*.jpeg
Outputs/*.csv
Outputs/*.pdf

# Logs and temporary files
*.log
*.tmp
*.bak
